pydantic_core==2.41.1
contourpy==1.3.2
sentry-sdk==2.41.0
pexpect==4.9.0
Pygments==2.19.1
GitPython==3.1.45
bitarray==3.3.2
llvmlite==0.44.0
jupyter_core==5.8.1
babel==2.17.0
traitlets==5.14.3
tokenizers==0.22.1
zstandard==0.23.0
nest_asyncio==1.6.0
pyarrow==21.0.0
kiwisolver==1.4.8
ptyprocess==0.7.0
certifi==2025.7.14
pytz==2025.2
sphinxcontrib-htmlhelp==2.1.0
ruamel.yaml.clib==0.2.8
pillow==11.2.1
urllib3==2.2.3
parso==0.8.4
lark==1.1.9
ipython==9.4.0
google-cloud-core==2.4.3
ipykernel==6.30.0
anyio==4.11.0
requests==2.32.3
pickleshare==0.7.5
propcache==0.4.1
cryptography==43.0.3
torch==2.8.0
huggingface-hub==0.35.3
tqdm==4.66.5
markdown-it-py==3.0.0
filelock==3.19.1
frozendict==2.4.2
Farama-Notifications==0.0.4
wheel==0.44.0
pyparsing==3.2.3
jedi==0.19.2
exceptiongroup==1.3.0
multidict==6.7.0
scipy==1.16.0
sphinxcontrib-qthelp==2.0.0
packaging==24.1
click==8.3.0
debugpy==1.8.15
menuinst==2.2.0
googleapis-common-protos==1.70.0
typing_extensions==4.14.1
libmambapy==2.0.5
PySocks==1.7.1
numba==0.61.2
pyahocorasick==2.2.0
protobuf==6.32.1
jupyter_client==8.6.3
asttokens==3.0.0
google-resumable-media==2.7.2
matplotlib==3.10.3
jsonpatch==1.33
RapidFuzz==3.13.0
tzdata==2025.2
ipython_pygments_lexers==1.1.1
pyzmq==26.2.0
appnope==0.1.4
gymnasium==1.2.1
httpcore==1.0.9
sphinxcontrib-serializinghtml==2.0.0
decorator==5.2.1
mdit-py-plugins==0.4.2
ruamel.yaml==0.18.6
rich==14.1.0
cffi==1.17.1
myst-parser==4.0.1
executing==2.2.0
platformdirs==3.10.0
conda_package_streaming==0.11.0
pyasn1==0.6.1
stack_data==0.6.3
sympy==1.14.0
anaconda-anon-usage==0.5.0
multiprocess==0.70.16
sphinxcontrib-jsmath==1.0.1
pycparser==2.21
sphinx-rtd-theme==3.0.2
hf-xet==1.1.10
google-api-core==2.26.0
truststore==0.8.0
conda-content-trust==0.2.0
google-crc32c==1.7.1
h11==0.16.0
gitdb==4.0.12
sniffio==1.3.1
roman-numerals-py==3.1.0
psutil==7.0.0
accelerate==1.11.0
rsa==4.9.1
mdurl==0.1.2
networkx==3.5
python-dateutil==2.9.0.post0
mpmath==1.3.0
Sphinx==8.2.3
aiohttp==3.13.1
pyopenjtalk==0.4.1
wcwidth==0.2.13
charset-normalizer==3.3.2
conda==25.5.1
Brotli==1.0.9
frozenlist==1.8.0
prompt_toolkit==3.0.51
sphinxcontrib-devhelp==2.0.0
aiosignal==1.4.0
regex==2025.10.23
pycosat==0.6.6
imagesize==1.4.1
fsspec==2025.9.0
cycler==0.12.1
pip==24.2
idna==3.7
Jinja2==3.1.6
tornado==6.5.1
pluggy==1.5.0
cachetools==6.2.0
dill==0.4.0
pure_eval==0.2.3
archspec==0.2.3
distro==1.9.0
cloudpickle==3.1.1
gym-notices==0.1.0
wandb==0.22.2
datasets==4.2.0
aiohappyeyeballs==2.6.1
sphinxcontrib-applehelp==2.0.0
attrs==25.4.0
jsonpointer==2.1
transformers==4.57.1
snowballstemmer==2.2.0
docutils==0.21.2
alabaster==1.0.0
PyYAML==6.0.2
httpx==0.28.1
pydantic==2.12.0
matplotlib-inline==0.1.7
smmap==5.0.2
sphinxcontrib-jquery==4.1
fonttools==4.58.4
importlib_metadata==8.7.0
Shimmy==2.0.0
numpy==2.2.5
pyasn1_modules==0.4.2
conda-libmamba-solver==25.1.1
conda-anaconda-telemetry==0.1.1
conda-package-handling==2.4.0
stable_baselines3==2.7.0
setuptools==75.1.0
google-auth==2.41.1
typing-inspection==0.4.2
zipp==3.23.0
gym==0.26.2
annotated-types==0.7.0
safetensors==0.6.2
Levenshtein==0.27.1
pandas==2.3.2
six==1.17.0
yarl==1.22.0
boltons==23.0.0
proto-plus==1.26.1
xxhash==3.6.0
google-cloud-storage==3.4.1
comm==0.2.3
MarkupSafe==3.0.2
